services:
  vpn:
    container_name: {{ container_name }}
    hostname: {{ host_name }}
    build:
      context: .
      dockerfile: Dockerfile
    shm_size: '1gb'
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
      - SYS_ADMIN
    devices:
      - "/dev/net/tun:/dev/net/tun"
    restart: unless-stopped
    environment:
      - DISPLAY=$DISPLAY
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./{{ username }}.ovpn:/etc/openvpn/{{ username }}.ovpn:ro
      - ../../home/{{ username }}@{{ vpn_name }}.{{ domain }}:/home/{{ username }}
    networks:
      - {{ host_name }}_network

networks:
  {{ host_name }}_network:
    driver: bridge

